html { 
    background: url(../dog.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
  
  .aap-head-nav {
  clear:both;
  Background-color:#6fcbf0;
  height:10%;
  width:100%;
  }
  .logo {
    width: 23%;
    margin: 2%;
    background: rgba(255, 255, 255, 0.47);
    border-radius: 10px;
    padding: 1%;
    box-shadow: 0 1px 0px 1px #eee;
  }
  input {
    width: 50%;
    height: 25px;
    border: 0;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.68);	
	margin:10px 0;
  }