//home page styles

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -ms-box-shadow: $shadow;
  box-shadow: $shadow;
}
@mixin background-size($bg-size) {
  -webkit-background-size: $bg-size;
  -moz-background-size: $bg-size;
  -ms-background-size: $bg-size;
  background-size: $bg-size;
}
body {
  background: url(../images/dog.jpg) no-repeat center center fixed;
  @include border-radius(cover);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color:#f3e1cd;
}
.logo {
  background: rgba(255,255,255,0.47);
  margin: 2%;
  padding: 1%;
  width: 23%;
  @include border-radius(10px);
  @include box-shadow(0 1px 0px 1px #eee);
  img {
    height: auto;
    width: 306px;
  }
}
.sp-form {
  padding: 5% 0 0;
  input {
    padding: 0 0 0 1%;
  }
  input, select {
    background: rgba(255,255,255,0.68);
    border: 0;
    font-family:$primary-font;
    height: 25px;
    margin: 10px 0;
    width: 50%;
    @include border-radius(5px);
  }
  label {
  width: 76px !important;
  font-weight:normal;
  }
  .sp-form-menu {
  padding: 0 0 2% 0;
  }
}
.sp-form-nav {
  background: rgba(255,221,178,0.56);
  color: $primary-font-color;
  cursor: pointer;
  font-weight:bold;
  font-family: $primary-font;
  font-size: 1.2em;
  margin: 0 2% 0 0;
  padding: 1% 2%;
  @include border-radius(5px);
  &:hover {
  background: $primary-color;
  }
  &.active {
  background: $primary-color;
  }
}
.sp-search-panel {
  background: rgba(240,166,103,0.44);
  float: right;
  margin: 0 5%;
  padding: 2%;
  width: 40%;
  @include border-radius(10px);
  @include box-shadow(0 0 8px 1px rgba(255,255,255,0.37));
  .sp-head {
  color: $primary-font-color;
  font-family: $primary-font;
  font-size: 2.5em;
  h1 {
  margin: 1% 0 0;}
  }
}
.sp-search-button {
  background: $primary-color;
  clear: both;
  color: $primary-font-color;
  cursor: pointer;
  font-size: 1.2em;
  font-family: $primary-font;
  margin: 2% 0;
  padding: 1% 2%;
  text-align: center;
  width: 15%;
  @include border-radius(3px);
}
.sp-search-type {
  font-size: 1.2em;
  color: $primary-font-color;
  width: 66px !important;
}
.ui-widget {
  font-family: $primary-font !important;
}
.ui-widget-content {
  max-height: 200px !important;
  overflow-y:auto;
}
